.App {
  text-align: center;
}

.MuiAutocomplete-root {
  width: 600px;
  outline: white;
}

.MuiTextField-root {
  width: 600px;
}

button {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}